
<h1><%= @recipe.name%> </h1>


<h3>Cooking time: <%= @recipe.cook_time%> </h3>
<br>
<p> List of ingredients: <%= @recipe.ingredients%></p>

<form action="/recipes/<%= @recipe.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form> 

<a href='/recipes/<%= @recipe.id %>/edit'>To edit this post click here </a>
<br>
<br>
<a href='/recipes'>Home </a>

